# data set

In [6]:
import pandas as pd
print(pd.__version__)
mydataset={
    'org':["people","monkey","fish"],
    'passing':[2,3,4]
}
myvar=pd.DataFrame(mydataset)
print(myvar)

2.3.1
      org  passing
0  people        2
1  monkey        3
2    fish        4

# pandas series from dic

In [7]:
import pandas as pd
calorie={"d1":678,"d2":578,"d3":789}
myvar=pd.Series(calorie)
print(myvar)

d1    678
d2    578
d3    789
dtype: int64

In [10]:
import pandas as pd
#url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
url="https://raw.githubusercontent.com/vizydrop/data-samples/master/flowers.csv"
df=pd.read_csv(url)
print(df)

     sepal length  sepal width  petal length  petal width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

# counting pattern

In [26]:
counts=dict()
print('enter a line of text:')
line=input('')
words=line.split()
print('words:',words)

print('counting...')
for word in words:
 counts[word]=counts.get(word,0)+1
print('counts',counts)

enter a line of text:

 bfv 65 and somthing came up 234

words: ['bfv', '65', 'and', 'somthing', 'came', 'up', '234']
counting...
counts {'bfv': 1, '65': 1, 'and': 1, 'somthing': 1, 'came': 1, 'up': 1, '234': 1}

counts=dict()
print('enter a line of text:')
line=input('')
words=line.split()
print('words:',words)

print('o line')
for word in words:
 counts[word]=counts.get(word,0)+1 

print('added',add_re)
print('line',concat_te)

In [8]:
counts=dict()
print('enter a line of text:')
line=input('')
words=line.split()
print('words:',words)

print('o line')
for word in words:
 counts[word]=counts.get(word,0)+1
print('counts',counts)
concat_re=('')
add = 0
for word in words: 
    try: 
        re = int(word)
        add = add + int(word)
        concat_re+=word
    except: 
        pass
print('concatination: ',concat_re)
print('additions:',add)

special_chars = ['!', '@', '#', '$', '%', '^', '&']
special_found = False

for word in words:
    if word in special_chars:
        special_found = True
        break

if special_found:

    print("special characters present.")
else:
    print("Special characters not present.")

enter a line of text:

 naB&

words: ['naB&']
o line
counts {'naB&': 1}
concatination:
additions: 0
Special characters not present.

In [4]:
counts=dict()
print('enter a line of text:')
line=input('')
words=line.split()
print('words:',words)

print('o line')
for word in words:
 counts[word]=counts.get(word,0)+1
print('counts',counts)
special_chars = ['!', '@', '#', '$', '%', '^', '&']
special_found = False

if special_found:
    print("special characters present.")
else:
    print("Special characters not present.")

for word in words:
    if word in special_chars:
        special_found = True
        break
concat_re=('')
add = 0
for word in words: 
    try: 
        re = int(word)
        add = add + int(word)
        concat_re+=word
    except:
        pass
print('concatination: ',concat_re)
print('additions:',add)

enter a line of text:

 nabo 23 & dn 32

words: ['nabo', '23', '&', 'dn', '32']
o line
counts {'nabo': 1, '23': 1, '&': 1, 'dn': 1, '32': 1}
Special characters not present.
concatination:  2332
additions: 55

# dic of list(dirty data)

In [6]:
import pandas as pd 
import numpy as np
dict={'first score':[100,12,np.nan,78],
      'second':[np.nan,20,28,np.nan],
      'thrid':[90,83,np.nan,72]}
print(dict)
df=pd.DataFrame(dict)
print(df.to_string())
print(df.isnull())
print(df.notnull())

{'first score': [100, 12, nan, 78], 'second': [nan, 20, 28, nan], 'thrid': [90, 83, nan, 72]}
   first score  second  thrid
0        100.0     NaN   90.0
1         12.0    20.0   83.0
2          NaN    28.0    NaN
3         78.0     NaN   72.0
   first score  second  thrid
0        False    True  False
1        False   False  False
2         True   False   True
3        False    True  False
   first score  second  thrid
0         True   False   True
1         True    True   True
2        False    True  False
3         True   False   True

In [10]:
import pandas as pd 
import numpy as np
dict={'first score':[100,12,np.nan,78],
      'second':[np.nan,20,28,np.nan],
      'thrid':[90,83,np.nan,72]}
print(dict)
df=pd.DataFrame(dict)
print(df.to_string())
print(df.isnull())
print(df.notnull())
print(df.fillna(method='pad'))
print(df.

{'first score': [100, 12, nan, 78], 'second': [nan, 20, 28, nan], 'thrid': [90, 83, nan, 72]}
   first score  second  thrid
0        100.0     NaN   90.0
1         12.0    20.0   83.0
2          NaN    28.0    NaN
3         78.0     NaN   72.0
   first score  second  thrid
0        False    True  False
1        False   False  False
2         True   False   True
3        False    True  False
   first score  second  thrid
0         True   False   True
1         True    True   True
2        False    True  False
3         True   False   True

TypeError: NDFrame.ffill() got an unexpected keyword argument 'method'

In [12]:
import pandas as pd 
import numpy as np
dict={'first score':[100,12,np.nan,78],
      'second':[np.nan,20,28,np.nan],
      'thrid':[90,83,np.nan,72]}
print(dict)
df=pd.DataFrame(dict)
print(df.to_string())
print(df.isnull())
print(df.notnull())
df_mean=df.mean()
print(df_mean)
data_new=df.fillna(df.mean())
print(data_new)
df.dropna(how='all')

{'first score': [100, 12, nan, 78], 'second': [nan, 20, 28, nan], 'thrid': [90, 83, nan, 72]}
   first score  second  thrid
0        100.0     NaN   90.0
1         12.0    20.0   83.0
2          NaN    28.0    NaN
3         78.0     NaN   72.0
   first score  second  thrid
0        False    True  False
1        False   False  False
2         True   False   True
3        False    True  False
   first score  second  thrid
0         True   False   True
1         True    True   True
2        False    True  False
3         True   False   True
first score    63.333333
second         24.000000
thrid          81.666667
dtype: float64
   first score  second      thrid
0   100.000000    24.0  90.000000
1    12.000000    20.0  83.000000
2    63.333333    28.0  81.666667
3    78.000000    24.0  72.000000

   first score  second  thrid
0        100.0     NaN   90.0
1         12.0    20.0   83.0
2          NaN    28.0    NaN
3         78.0     NaN   72.0

# functions

In [3]:
def say_hello():
    print("hello,world")
say_hello()

hello,world

In [4]:
def add(a,b):
    return a+b
result=add(1,8)
print("sum:",result)

sum: 9

In [6]:
def greet(name):
    print("hello,"+ name +"!")

greet("dev")

hello,dev!

In [7]:
def is_even(num):
    if num % 2==0:
        return True
    else:
        return False
print(is_even(4))
print(is_even(5))

True
False

In [9]:
def find_max(a,b,c):
     return max(a,b,c)
print(find_max(10,25,15))

25

In [15]:
import random
def guess():
    num=random.randint(1,10)
    guess=int(input("guest the num between 1 and 10"))

    if guess==num:
        print("correct")
    else:
        print("wrong")
guess()
while True:

guest the num between 1 and 10 8

correct

In [ ]:
import random
def dice():
    input("press entwr to roll ")
    dice=random.randint(1,6)
    print(f"dice rol {dice}")
while True:
    input("press enter to roll again")
    print("rolled:",dice())
    again=input("roll again?(y/n):")
    if again.lower()!='y':
        break

press enter to roll again 2
press entwr to roll

rolled: None

roll again?(y/n): y
press enter to roll again 2
press entwr to roll  2

rolled: None